{% load static %}

<div class="col-lg-3">
    <ul class="account-nav">
      <li><a href="{% url 'dashboard' %}" class="menu-link menu-link_us-s menu-link_active">Dashboard</a></li>
      <li><a href="{% url 'orders' %}" class="menu-link menu-link_us-s">Orders</a></li>
      <li><a href="{% url 'address' %}" class="menu-link menu-link_us-s">Addresses</a></li>
      <li><a href="{% url 'acc_details' %}" class="menu-link menu-link_us-s">Account Details</a></li>
      <li><a href="{% url 'wishlist' %}" class="menu-link menu-link_us-s">Wishlist</a></li>
      <li><a href="{% url 'register_page' %}" class="menu-link menu-link_us-s">Logout</a></li>
    </ul>
</div>
