<div class="page-content">
    <div class="container-xxl">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Orders  #{{ order.OrderNo }}</h4>
                                <p class="mb-0 text-muted mt-1">
                                    {{ order.OrderDate|date:"d M Y" }} at {{ order.OrderDate|date:"h:i A" }}


                                </p>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary">
                                    <i class="fas fa-plus me-1"></i> Add Item
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Item</th>
                                        <th class="text-end">Price</th>
                                        <th class="text-end">Quantity</th>
                                        <th class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.Items %}
                                    <tr>
                                        <td>
                                            <img src="{{ item.image_url }}" alt="" height="40">
                                            <p class="d-inline-block align-middle mb-0">
                                                <span class="d-block align-middle mb-0 product-name text-body">
                                                    {{ item.ProductName }}
                                                </span>
                                                <span class="text-muted font-13">{{ item.description }}</span>
                                            </p>
                                        </td>
                                        <td class="text-end">${{ item.PricePerUnit }}</td>
                                        <td class="text-end">{{ item.Quantity }}</td>
                                        <td class="text-end">${{ item.Subtotal }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Order Status</h4>
                            </div>
                            <div class="col-auto">
                                <a href="{{ order.invoice_url }}" class="text-secondary">
                                    <i class="fas fa-download me-1"></i> Download Invoice
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="position-relative m-4">
                            <div class="progress" role="progressbar" aria-valuenow="{{ order.delivery_progress }}" aria-valuemin="0" aria-valuemax="100" style="height: 1px;">
                                <div class="progress-bar" style="width: {{ order.delivery_progress }}%"></div>
                            </div>
                        </div>
                        <div class="row row-cols-3">
                            <div class="col text-start">
                                <h6 class="mb-1">Order Created</h6>
                                <p class="mb-0 text-muted fs-12 fw-medium">{{ order.OrderDate|date:"d M Y, h:i A" }}</p>
                            </div>
                            <div class="col text-center">
                                <h6 class="mb-1">On Delivery</h6>
                                <p class="mb-0 text-muted fs-12 fw-medium">{{ order.EstimatedDelivery|date:"d M Y, h:i A" }}</p>
                            </div>
                            <div class="col text-end">
                                <h6 class="mb-1">Order Delivered</h6>
                                <p class="mb-0 text-muted fs-12 fw-medium">{{ order.EstimatedDelivery|date:"d M Y, h:i A" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Order Summary</h4>
                            </div>
                            <div class="col-auto">
                                <span class="badge rounded text-warning bg-warning-subtle fs-12 p-1">
                                    {{ order.PaymentStatus }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="d-flex justify-content-between">
                            <p class="text-body fw-semibold">Items subtotal :</p>
                            <p class="text-body-emphasis fw-semibold">${{ order.TotalAmount }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-body fw-semibold">Discount :</p>
                            <p class="text-danger fw-semibold">-${{ order.discount }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-body fw-semibold">Tax :</p>
                            <p class="text-body-emphasis fw-semibold">${{ order.tax }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-body fw-semibold">Shipping Cost :</p>
                            <p class="text-body-emphasis fw-semibold">${{ order.shipping_cost }}</p>
                        </div>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <h4 class="mb-0">Total :</h4>
                            <h4 class="mb-0">${{ order.TotalAmount }}</h4>
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Order Information</h4>
                            </div>
                            <div class="col-auto">
                                <a href="{{ order.edit_url }}" class="text-secondary">
                                    <i class="fas fa-pen me-1"></i> Edit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="d-flex justify-content-between mb-2">
                            <p class="text-body fw-semibold">Username :</p>
                            <p class="text-body-emphasis fw-semibold">@{{ user.username }}</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="text-body fw-semibold">Full Name :</p>
                            <p class="text-body-emphasis fw-semibold">{{ order.ShippingAddress.FirstName }} {{order.ShippingAddress.LastName}}</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="text-body fw-semibold">Email :</p>
                            <p class="text-body-emphasis fw-semibold">{{ order.ShippingAddress.Email }}</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="text-body fw-semibold">Total Payment :</p>
                            <p class="text-body-emphasis fw-semibold">${{ order.TotalAmount }}</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="text-body fw-semibold">Address :</p>
                            <p class="text-body-emphasis fw-semibold">{{ order.address }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!--Start Rightbar-->
    <!--Start Rightbar/offcanvas-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="Appearance" aria-labelledby="AppearanceLabel">
        <div class="offcanvas-header border-bottom justify-content-between">
          <h5 class="m-0 font-14" id="AppearanceLabel">Appearance</h5>
          <button type="button" class="btn-close text-reset p-0 m-0 align-self-center" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">  
            <h6>Account Settings</h6>
            <div class="p-2 text-start mt-3">
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="settings-switch1">
                    <label class="form-check-label" for="settings-switch1">Auto updates</label>
                </div><!--end form-switch-->
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="settings-switch2" checked="">
                    <label class="form-check-label" for="settings-switch2">Location Permission</label>
                </div><!--end form-switch-->
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="settings-switch3">
                    <label class="form-check-label" for="settings-switch3">Show offline Contacts</label>
                </div><!--end form-switch-->
            </div><!--end /div-->
            <h6>General Settings</h6>
            <div class="p-2 text-start mt-3">
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="settings-switch4">
                    <label class="form-check-label" for="settings-switch4">Show me Online</label>
                </div><!--end form-switch-->
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="settings-switch5" checked="">
                    <label class="form-check-label" for="settings-switch5">Status visible to all</label>
                </div><!--end form-switch-->
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="settings-switch6">
                    <label class="form-check-label" for="settings-switch6">Notifications Popup</label>
                </div><!--end form-switch-->
            </div><!--end /div-->               
        </div><!--end offcanvas-body-->
    </div>
    <!--end Rightbar/offcanvas-->
    <!--end Rightbar-->
    <!--Start Footer-->
    
    <footer class="footer text-center text-sm-start d-print-none">
        <div class="container-xxl">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-0 rounded-bottom-0">
                        <div class="card-body">
                            <p class="text-muted mb-0">
                                ©
                                <script> document.write(new Date().getFullYear()) </script>
                                Rizz
                                <span class="text-muted d-none d-sm-inline-block float-end">
                                    Crafted with
                                    <i class="iconoir-heart text-danger"></i>
                                    by Mannatthemes</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!--end footer-->
</div>