.loader {
    position: absolute;
    inset: 0;
    z-index: 5000;
    background-color: #252525;
    transform: translateX(0%);
    transition: transform 0.9s cubic-bezier(0.76, 0, 0.24, 1);
    will-change: transform;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdfdfd;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .loader-text {
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }